<h2 id="title">Ticket information</h2>

<div id="ticket_information">
  <p>Ticket id: <%= @ticketModel.id %></p> 
  <br>

  <p>Seat number: <%= @ticketModel.seat %></p> 
  <br>

  <p>Ticket type: <%= @ticketModel.ticket_type %></p> 
  <br>

  <p>Discount: <%= @ticketModel.discount %> Lp</p> 
  <br>

  <p>Total: <%= @ticketModel.total %> Lp</p> 
</div>